* {

}

.form-gap {
    padding-top: 200px;
}

.panel-body {
    border: none;
    text-align: center;
}

body {
  height: 700px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: grey;
}

a:link,
a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  background: white;
  z-index: 10;
}


/*
Menu formatting
*/
.menu {
  margin-top: 50px;
}

.menu > li {
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 650px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: "Times New Roman", Times, serif;
  color: grey;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
